<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.2.2" targetFramework="net40" />
  <package id="Castle.Windsor" version="3.2.1" targetFramework="net40" />
  <package id="CommonServiceLocator" version="1.0" />
  <package id="CommonServiceLocator.WindsorAdapter" version="1.0" />
  <package id="DotNetOpenAuth" version="3.4.7.11121" />
  <package id="FluentNHibernate" version="1.4.0.0" targetFramework="net40" />
  <package id="Iesi.Collections" allowedVersions="(,4.0)" version="3.2.0.4000" />
  <package id="jQuery" version="1.7.1" />
  <package id="log4net" version="1.2.10" allowedVersions="[1.2.10]" />
  <package id="Modernizr" version="2.0.6" />
  <package id="Mvc3Futures" version="3.0.20105.0" />
  <package id="MvcContrib.Mvc3.FluentHtml-ci" version="3.0.94.0" />
  <package id="MvcContrib.Mvc3-ci" version="3.0.94.0" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net40" />
  <package id="NHibernate" version="3.3.3.4001" targetFramework="net40" />
  <package id="SharpArch.Domain" version="2.1.0" targetFramework="net40" />
  <package id="SharpArch.NHibernate" version="2.1.0" targetFramework="net40" />
  <package id="SharpArch.Web.Mvc.Castle" version="2.1.0" targetFramework="net40" />
  <package id="sharp-architecture" version="2.0.4" />
</packages>